.dialog-wrapper .MuiDialog-paper {
    background: white;
    width: 100%;
    padding: 20px 30px;
}

.dialog-wrapper .MuiDialog-paper form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    text-align: center;
}

.MuiTextField-root.input-wrapper{
    width: 100%;
    margin-bottom: 24px;
}