@import "src/styles/settings";

.header {
  display: flex;
  align-items: center;
  text-align: center;
  margin: #{$base-indent*2} 0;

  &-item {
    margin: 0 #{$base-indent*2};
    color: black;
    text-decoration: none;
    border-bottom: 1px solid transparent;

    &.active {
      border-bottom-color: $darkblue-color;
    }
  }
}