@import "./settings";

button {
  &.secondary-button {
      text-align: center;
    border-radius: $button-border-radius;
    box-shadow: none;
    padding: #{$base-indent} #{$base-indent*2};
}

  &.primary-button {
    background: $darkblue-color;
    color: $content-color;
    text-align: center;
    border-radius: $button-border-radius;
    box-shadow: none;
    padding: #{$base-indent} #{$base-indent*2};
}

  &.primary-button, &.secondary-button {
    margin-left: #{$base-indent};
    height: $base-indent*4;
}
}